venv/
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
build/
dist/
*.egg-info/
game-settings-default.cs
logs/
models/*
models/*.zip
!models/.gitkeep
models/.gitkeep

assets/*.mp4
assets/*-palette.png

assets/*.mp4
